:root {
  --dark: #222222;
  --light: #fff;
  --shadow: 2px 2px 5px rgba(104, 104, 104, 0.8);
  --mb: 0.9rem;
  --primary: #0046a5;
  --primary-light: #809dcd;
  --primary-dark: #00183a;
  --pad: 2.5rem;
  --text: #1d1b34;
  --background: #f2f2f2;

  /* font sizes */
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.225rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* line-height: calc(1em + 0.725rem);*/
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body {
  background: var(--background);
  margin: 0;
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--text);
  line-height: 1.6;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

html body {
  overflow-x: hidden;
  min-width: fit-content;
}

html {
  scroll-behavior: smooth;
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.mb {
  margin-bottom: var(--mb);
}

img {
  max-width: 100%;
  display: block;
}

h1 h2 h3 {
  line-height: 1.1;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
  background-size: cover;
  background-position: center;
}

#slider figure img {
  width: 20%;
  float: left;
  height: 900px;
  filter: brightness(80%);
  object-fit: cover;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.wrapper {
  display: grid;
  grid-gap: 30px;
  margin: 0;
}

/* Navigation*/

.main-nav ul {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.main-nav a {
  background-color: rgba(0, 70, 165, 0.8);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-decoration: uppecase;
  box-shadow: var(--primary);
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav {
  position: fixed;

  width: 100%;
  overflow: hidden;
}

.top-container {
  display: grid;
  grid-gap: 20px;
}

.teksti {
  background-color: rgba(0, 70, 165, 0.7);
  color: #fff;
  position: absolute;
  margin-top: 340px;
  margin-left: 4%;
  min-width: 200px;
  border-radius: 15px;
  padding: 30px;
}

.teksti p {
  margin-top: 10px;
}

/* Boxes*/
.boxes {
  padding-inline: var(--pad);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.boxes img {
  width: 110%;
  height: 110px;
  padding: 0;
  margin-bottom: var(--mb);
}

.box {
  border-radius: 12px;
  border-bottom: 5px solid rgba(0, 70, 165, 0.5);
  border-top: 5px solid rgba(0, 70, 165, 0.5);
  background: #f2f2f2;
  text-align: center;
  padding: 4.2rem 2rem;
  /*  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);*/
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/*INFO*/
.info {
  background: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: var(--pad);
}

.long-info {
  flex: 1;
  max-width: 50ch;
  min-width: 40ch;
}

.info p {
  line-height: 1.7;
}

.info img {
  min-width: 450px;
  max-width: 450px;
  height: 450px;
}

/*Portfolio*/

.portfolio img {
  padding-bottom: 2rem;
  box-shadow: var(--shadow);
}

.portfolio p {
  margin-bottom: var(--mb);
}

.address-info {
  padding-left: var(--pad);
  padding-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.contact-info {
  flex: 2;
}

.map {
  flex: 1 1 300px;
}

/*Footer*/
footer {
  margin-top: 2rem;
  background-color: rgba(0, 70, 165, 0.8);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 680px) {
  #slider {
    overflow: hidden;
  }

  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    background-size: cover;
    background-position: center;
  }

  #slider figure img {
    width: 20%;
    float: left;
    height: 600px;
    filter: brightness(70%);
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    20% {
      left: 0;
    }

    25% {
      left: -100%;
    }

    45% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info p {
    min-width: 100%;
  }

  .info img {
    min-width: 350px;
    max-width: 350px;
    height: 350px;
    text-align: center;
  }

  .boxes {
    grid-template-columns: 1fr;
  }

  .box {
    border-radius: 4%;
    border-bottom: 5px solid rgba(0, 70, 165, 0.5);
    border-top: 5px solid rgba(0, 70, 165, 0.5);
  }

  .contact-info {
    min-width: 100%;
  }
}
